.navbar-dark {
  margin-top: 0;
  margin-bottom: 20;
  background: black; }

.navbar-brand {
  margin-right: 20px; }

.navbar-nav {
  position: absolute;
  right: 20px; }

.content {
  margin-top: 80px;
  margin-bottom: 0;
  justify-items: center; }
  .content h1 {
    margin-top: auto;
    margin-bottom: 80px; }
  .content .card-deck {
    margin-top: 10px;
    margin-bottom: 30px; }

footer {
  margin-top: 80px;
  margin-bottom: 0;
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  color: floralwhite; }
