$background-color: black;

@mixin margins($mar-top, $marg-bottom) {
  margin-top: $mar-top;
  margin-bottom: $marg-bottom;
}

.navbar-dark {
  @include margins(0, 20);
  background: $background-color;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-nav {
  position: absolute;
  right: 20px;
}

.content {
  @include margins(80px, 0);
  justify-items: center;

  h1 {
    @include margins(auto, 80px);
  }

  .card-deck {
    @include margins(10px, 30px);
  }
}

footer {
  @include margins(80px, 0);
  background-color: $background-color;
  position: relative;
  bottom: 0;
  width: 100%;
  color: floralwhite;
}
